{
	frankenphp
}

:80 {
    root * /app
    encode zstd br gzip

    @static_files {
        path *.css *.js *.png *.ico
    }

    @not_found {
        not path /
        not path_regexp ^/[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[1-8][0-9A-Fa-f]{3}-[ABab89][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$
        not file /src/pages/{path}.php
    }

    @not_allowed {
        path /verify /remove /new/* /api/*
        not method POST
    }

    @not_admin {
        path /admin/*
        not header X-Auth 1
    }

    php_server {
        root /app
    }

    handle @static_files {
        try_files /public/{path} /src/errors/index.php?code=404
    }

    handle_path /avatar {
        rewrite * /src/avatar/index.php
    }

    handle @not_admin {
        reverse_proxy nginx
    }

    rewrite /admin /admin/index

    handle_path /admin/* {
        try_files /src/admin/{path}.php /src/errors/index.php?code=404
    }

    handle @not_found {
        rewrite * /src/errors/index.php?code=404
    }

    handle @not_allowed {
        rewrite * /src/errors/index.php?code=405
    }

    handle {
        rewrite * /src/router.php
    }
}