@import 'tailwindcss';
@import './keyframes.css';

@theme {
    --animate-backdrop: backdrop 0.25s forwards;
    --animate-scaling: scaling 0.25s forwards;
    --animate-backdrop-reverse: backdrop-reverse 0.25s forwards;
    --animate-scaling-reverse: scaling-reverse 0.25s forwards;
}

@theme inline {
    --animate-both: var(--animate-backdrop), var(--animate-scaling);
    --animate-both-reverse:
        var(--animate-backdrop-reverse), var(--animate-scaling-reverse);
}
