@import 'tailwindcss';

div[data-dialog][data-show] {
    animation:
        backdrop 0.25s forwards,
        scaling 0.25s;
}

div[data-dialog] {
    animation:
        backdrop_reverse 0.25s,
        scaling_reverse 0.25s;
}

@keyframes scaling {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes backdrop {
    from {
        -webkit-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
    }
    to {
        -webkit-backdrop-filter: blur(var(--blur-sm));
        backdrop-filter: blur(var(--blur-sm));
    }
}

@keyframes scaling_reverse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

@keyframes backdrop_reverse {
    from {
        -webkit-backdrop-filter: blur(var(--blur-sm));
        backdrop-filter: blur(var(--blur-sm));
    }
    to {
        -webkit-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
    }
}
