@import 'tailwindcss';

dialog.show::backdrop {
    animation: backdrop 0.25s forwards;
}

dialog.hide::backdrop {
    animation: backdrop_reverse 0.25s;
}

div[data-dialog].show {
    animation: scaling 0.25s;
}

div[data-dialog].hide {
    animation: scaling_reverse 0.25s;
}

@keyframes scaling {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes backdrop {
    from {
        -webkit-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
    }
    to {
        -webkit-backdrop-filter: blur(var(--blur-sm));
        backdrop-filter: blur(var(--blur-sm));
    }
}

@keyframes scaling_reverse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

@keyframes backdrop_reverse {
    from {
        -webkit-backdrop-filter: blur(var(--blur-sm));
        backdrop-filter: blur(var(--blur-sm));
    }
    to {
        -webkit-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
    }
}
